---
import Page from "../components/Page.astro";
import { getPosts } from "../lib/posts";

const allPosts = getPosts();
---

<Page>
  <div class="x px-4">
    <div class="mt-2 mb-6 flex justify-between">
      <h1 class="text-3xl">All Posts</h1>
      <search>
        <label for="search">Search</label>
        <input id="search" name="search" class="bg-white border px-1" />
      </search>
    </div>
    <div class="hidden"></div>
    <table class="w-full">
      <thead class="postgrid sticky top-8 bg-slate-300">
        <tr class="contents text-left font-normal">
          <th>Title</th>
          <th>Tags</th>
          <th>Categories</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody class="postgrid bg-white px-2">
        {
          allPosts.map((post) => (
            <tr class="contents">
              <td>
                <a
                  class="hover:underline"
                  href={`/post/${post.slug}`}
                  set:html={post.title}
                />
              </td>
              <td class="text-sm">{post.tags.map((t) => "#" + t).join(" ")}</td>
              <td class="text-sm">{post.categories.join(", ")}</td>
              <td class="text-sm text-right">{post.date.toDateString()}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
  <script is:inline>
    const search = document.getElementById("search");
    const table = document.querySelector("table");

    search.oninput = () => {
      const text = search.value.toLowerCase().trim();
      const rows = table.querySelectorAll("tbody tr");

      rows.forEach((row) => {
        if (text === "") {
          row.classList.remove("hidden");
          return;
        }
        const rowText = row.textContent.toLowerCase();
        if (rowText.includes(text)) {
          row.classList.remove("hidden");
        } else {
          row.classList.add("hidden");
        }
      });
    };
  </script>
</Page>
<style>
  .postgrid {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr;
    column-gap: 0.5rem;
    row-gap: 0.25rem;
  }

  .hidden {
    display: none;
  }
</style>
