---
import Page from "../../components/Page.astro";
import FeedPost from "../../components/FeedPost.astro";
import { getPostBySlug, getPosts } from "../../lib/posts";

export async function getStaticPaths() {
  const posts = getPosts();
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { slug } = Astro.params;
const post = getPostBySlug(slug);

if (!post) {
  return Astro.redirect("/404");
}
---

<Page>
  <div class="max-w-[70ch] mx-auto pt-4 relative">
    <button onclick="window.history.back()" class="bg-white px-1 mb-3"
      >Back</button
    >
    <FeedPost post={post} />
  </div>
</Page>
