---
import "../styles.css";
import { ClientRouter } from "astro:transitions";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/whims/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Wonday whims</title>
    <ClientRouter />
  </head>
  <body class="bg-slate-300">
    <header class="flex px-4 sticky top-0 bg-white z-10">
      <a href="/whims/" class="text-2xl headings">Whims wonday</a>
      <nav class="flex gap-4 ml-auto font-semibold px-4">
        <a href="/whims/">Blog</a>
        <a href="/whims/posts">Search</a>
      </nav>
    </header>
    <div class="">
      <slot />
    </div>
  </body>
</html>
