---
import "../styles.css";
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Wonday whims</title>
        <ViewTransitions />
    </head>
    <body class="bg-slate-300">
        <header class="flex px-4">
            <a href="/" class="text-2xl">Whims wonday</a>
            <nav class="flex gap-4 ml-auto">
                <a href="/">Blog</a>
                <a href="/posts">All Posts</a>
            </nav>
        </header>
        <div class="px-4">
            <slot />
        </div>
    </body>
</html>
